@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.active {
  color: #9d45ef;
}

.App,
.banner {
  margin-left: auto;
  margin-right: auto;
}
.App {
  max-width: calc(100% - 32px);
  width: 1280px;
}

.banner {
  max-width: 800px;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
