@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  padding: 0 20px;
}
.active {
  color: #9d45ef;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.page {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.page-count a {
  padding: 10px 10px;
}
.selected {
  background-color: #ca9bf7;
  border-radius: 3px;
}
.page .disabled {
  color: #929292;
  pointer-events: none;
}
